* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 40%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}
